*                   {margin:0;padding:0;}
body                {font:1em/1.4 Verdana, Arial, Helvetica, sans-serif; }
body *              {display:inline;}
ol.calendar         {width:52em;margin:0 auto;display:block; min-height: 200px;}


/*
 * Day styles
 -------------------------*/
li li               {width:6em;height:6em;float:left;margin:.2em; padding:.2em;overflow:auto;
					 background: url(images/day-bg.png) bottom right no-repeat; }

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p             {font-size:.7em;display:block;}
li li ol            {width:auto;}
li li ul li,
li li ol li         {font-size:.7em;display:block;height:auto;width:auto; background: none;
					 margin:0;padding:.2em 0;float:none;}
