// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: westernFont;
    src: local(westernFont), url('PointedlyMad.ttf') format('opentype');
}

.hero-unit h1 {
    font-family:westernFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:90px;
}
.new_chore_button
{
  width: 200px;
  height: 100px;
}

.title
{
  width: 300px;
}

.image
{
  width: 400px;
}

.hero-unit
{
  background-color: transparent;

}

.page-content
{
  height:700px;
  width:100%;
  background-image: url("whip_crack.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

}
.page-content .hero-unit {
    background-color:rgba(255,255,255,.6    );
}

.lines
{
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  #float: left;
  margin-left: 40px;
}

.video_title
{
  font-size: 60px;
  padding-bottom: 20px;
}
