// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_chore_button
{
  width: 200px;
  height: 100px;
}

.title
{
  width: 300px;
}

.image
{
  width: 400px;
}

.hero-unit
{
  background-color: transparent;

}

.page-content
{
  width: 700px;
  height: 500px;
  background-image: url("hand-holding-whip-hi.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
