<div class="page-content">
<div class="hero-unit">
  <h1>
    Do Work, Son
  </h1>
    <small>Tired of your lazy roommates? Organize your household chores - for Free!</small>
  <p>
    <a class="btn btn-primary btn-large">
      Create a New Chore
    </a>
  </p>
  <!-- link_to (image_tag("hand-holding-whip-hi.png")), new_chore_path -->
</div>
</div>
