<table class="table table-striped">
  <thead>
    <tr>
      <th>Chore</th>
      <th>Status</th>
      <th>Next Victim</th>
    </tr>
  </thead>
  <tbody>
<% @chores.each do |chore| %>
  <tr>
    <td>
      <%= link_to chore.name, chore %>
      <span class="help-block"><%= chore.description %></span>
    </td>
    <td><text class="incomplete">Incomplete</text></td>
    <td><%= chore.currentPerson.name %></td>
  </tr>
<% end %>
  </tbody>
</table>
